<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CSDSK-DB2</display-name>
  <listener>
    <listener-class>csd.Global</listener-class>
  </listener>
  <context-param>
    <param-name>DRIVERCLASS</param-name>
    <param-value>com.ibm.db2.jcc.DB2Driver</param-value>
  </context-param>
  <context-param>
    <param-name>JDBCURL</param-name>
    <param-value>jdbc:db2://localhost:50000/CSDDB</param-value>
  </context-param>
  <context-param>
    <param-name>USERNAME</param-name>
    <param-value>WoRkSpAcE</param-value>
  </context-param>
  <context-param>
    <param-name>PASSWORD</param-name>
    <param-value>nitesh</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>RegSucces</display-name>
    <servlet-name>RegSucces</servlet-name>
    <servlet-class>csd.RegSucces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegSucces</servlet-name>
    <url-pattern>/RegSucces</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserCheck</display-name>
    <servlet-name>UserCheck</servlet-name>
    <servlet-class>csd.UserCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCheck</servlet-name>
    <url-pattern>/UserCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplaintSuccess</display-name>
    <servlet-name>ComplaintSuccess</servlet-name>
    <servlet-class>csd.ComplaintSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintSuccess</servlet-name>
    <url-pattern>/ComplaintSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpSucces</display-name>
    <servlet-name>EmpSucces</servlet-name>
    <servlet-class>csd.EmpSucces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpSucces</servlet-name>
    <url-pattern>/EmpSucces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSucces</display-name>
    <servlet-name>AdminSucces</servlet-name>
    <servlet-class>csd.AdminSucces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSucces</servlet-name>
    <url-pattern>/AdminSucces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiscSuccess</display-name>
    <servlet-name>MiscSuccess</servlet-name>
    <servlet-class>csd.MiscSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiscSuccess</servlet-name>
    <url-pattern>/MiscSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogStatus</display-name>
    <servlet-name>LogStatus</servlet-name>
    <servlet-class>csd.LogStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogStatus</servlet-name>
    <url-pattern>/LogStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePass</display-name>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>csd.ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportingSuccess</display-name>
    <servlet-name>ReportingSuccess</servlet-name>
    <servlet-class>csd.ReportingSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportingSuccess</servlet-name>
    <url-pattern>/ReportingSuccess</url-pattern>
  </servlet-mapping>
</web-app>